{% extends "layout.html" %}

{% block heading %}
    Index Page
{%endblock%}

{% block body %}

    <p> 
        this is probaly good and worth a try in a deeper way soon enough as it does save a lot of time.
    </p>
    
    <form action="{{url_for('index')}}" method="POST">
            <input type="text" name="note" placeholder="enter your name"> 
            <button>submit</button>
     </form>

     <ul class="card-body">
         {% for note in Notes %}
         <li> {{ note }}</li>
         {%endfor%}
     </ul>
{% endblock %}